<div>
    <div *ngIf="cartEmpty">
        <h3>There is no products yet</h3>
    </div>
    <div *ngIf="!cartEmpty">
        <ul *ngFor="let product of cartProducts">
            <li>
                <div class="card">
                    <div class="description-div">
                        <img class="img" src={{product.image}} alt="">
                        <h3 class="title">{{product.title}}</h3>
                    </div>
                    <div class="price-div" style="margin-left: auto;">
                        <div>
                            <h3>{{product.price}}$</h3>
                        </div>
                    </div>
                    <div>
                        <button class="delete-button">Delete</button>

                    </div>
                </div>
            </li>
        </ul>

        <div class="total-price-div">
            <h3>Total price: {{totalPrice}}</h3>
        </div>
    </div>

</div>