<div class="main">  
    <ul class="products-list" *ngFor="let product of products">
        <li>
            <div class="products-list-div">
                <img class="product-image" src={{product.image}}/>
                <div class="product-description-div">
                    <h3 class="product-title">{{product.title}}</h3>
                    <p class="product-description">{{product.description}}</p>
                </div>

                <div>
                    <div class="price-div">
                        <h3>{{product.price}}</h3>
                        <span>$</span>
                    </div>
                    <button class="cart-button" (click)="addToCart(product)">{{buttonStatus}}</button>
                </div>
            </div>
        </li>
    </ul>
</div>